/*
	Name : header_bar_style.css
	Description : Defines style for the header bar
*/

/* Style for admin option starts */
.button_text{
	text-align: right;
	vertical-align: top;
}

.button_link{
	text-align: right;
	vertical-align: top;
}
/* Style for admin option ends */

/* Style for header bar UI starts */

a {
	text-decoration: none;
}

.header_bar_container {
	background-color: black;
	overflow: hidden;
	min-height: 65px;
	max-height: auto;
	width: 100%;
	text-align: center;
}

.header_bar {
	max-width:100%;
	margin: auto;
	min-height: 65px;
	
}

.logo_container, .dropdown_container , .button_container{
	
	vertical-align: middle;
	text-align: center;
	max-width:100%;
	display:inline-block;
	padding:0px 5%;
	width:auto;
}

.logo_container  {
	padding-top : 10px;
}


.dropdown_container  {
	padding-top : 5px;
}

.button_container {
	padding-top : 6px;
}

.header_bar_container table {
	border: 0px;
	width: 100%;
}

.header_bar_container table  td {
	padding: 0px !important;
	border: 0px
}

.logo {
	min-width: 130px;
	width: 50% !important;
	height: 45px;
	margin:auto;
}

.header_button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px 20px;
	background:#F6F6F6;
	color: #666666;
	font-size: 20px;
	border:0px;
	cursor: pointer;
	margin-bottom: 0 !important;
}

.close_button {
	cursor: pointer;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.theme_selector {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: auto;
	padding:5px;
	background:#F6F6F6;
	color: #666666;
	font-size: 20px;
	min-width: 165px;
	font-family: 'Arial',Helvetica,sans-serif;
}

/* Style for header bar UI ends */